@page "/"
@using Models
@using Models.DTO
@inject NavigationManager NavigationManager

<PageTitle>Atria</PageTitle>

<div class="container-xxl">
    <div class="searchbar position-relative mb-3 mt-4">

        <div class="w-100 mb-2">
            <div class="form-control form-control-lg border p-0" style="box-shadow: rgba(0, 0, 0, 0.24) 3px 3px 3px">
                <div class="input-group input-group-lg">
                    <button class="btn btn-sm btn-link text-dark"><i class="fa fa-search"></i></button>
                    <input type="search" class="form-control form-control-lg border-0" placeholder="Suche nach..." @bind-value="SearchString" @onkeyup="SearchInput">
                </div>
            </div>
        </div>

    </div>
    <div class="d-flex flex-wrap">
        <div class="nav nav-pills mb-2">
            <div class="nav-item">
                <NavLink href="@Navigate("type", null)" class="nav-link" Match="NavLinkMatch.All">Webservice</NavLink>
            </div>
            <div class="nav-item ms-3">
                <NavLink href="@Navigate("type", "user")" class="nav-link">Nutzer</NavLink>
            </div>
        </div>
        <div class="d-flex mb-2 ms-auto">
            <div class="dropdown ms-3">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Filter
                </button>

                <div class="dropdown-menu dropdown-menu-end ps-2 pe-2">
                    <div class="form-check2">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckOnline">
                        <label class="form-check-label" for="flexCheckOnline">
                            <i class="fa-solid fa-circle text-success"></i>
                            Online
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckBookmarks">
                        <label class="form-check-label" for="flexCheckBookmarks">
                            <i class="fa-solid fa-bookmark" style="color:crimson"></i> @*TODO bookmark under online is not in line dur to online icon being more broad*@
                            Lesezeichen
                        </label>
                    </div>

                    <hr class="dropdown-divider">

                    <div>Bewertung</div>
                    <div class="rating">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-uncolored"></i>
                        <i class="fa fa-star rating-uncolored"></i>
                        @*TODO change star layout and make add logic to stars*@
                        <!--
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> 
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        -->
                    </div>

                    <hr class="dropdown-divider">

                    <div>Tags</div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckBookmarks">
                            Popular Tag 1
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckBookmarks">
                            Popular Tag 2
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckBookmarks">
                            Popular Tag 3
                        </div>
                    </div>
                    <div class="mt-3" style="text-align:right; font-size:80%;">
                        <button type="button" class="btn btn-Link btn-small" @onclick="() => OpenTagDialog()">
                            <u>weitere Tags</u>
                        </button>
                    </div>
                </div>
            </div>

            <div class="dropdown ms-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sortieren nach
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    @*relevance is default, no extra item needed
                    <NavLink href="@Navigate("sort", null)" class="dropdown-item" Match="NavLinkMatch.All">Relevanz</NavLink>*@
                    <NavLink href="@Navigate("sort", "useCount")" class="dropdown-item">Aufrufzahl aufsteigend</NavLink>
                    <NavLink href="@Navigate("sort", "useCount")" class="dropdown-item">Aufrufzahl absteigend</NavLink>
                    <NavLink href="@Navigate("sort", "reviewAverage")" class="dropdown-item">Bewertungsdurchschnitt aufsteigend</NavLink>
                    <NavLink href="@Navigate("sort", "reviewAverage")" class="dropdown-item">Bewertungsdurchschnitt absteigend</NavLink>
                    <NavLink href="@Navigate("sort", "recency")" class="dropdown-item">Neueste</NavLink>
                    <NavLink href="@Navigate("sort", "recency")" class="dropdown-item">Älteste</NavLink>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-100 mt-2 mb-4">
        <WseSummaryList SummaryDtos="_summaryDtos"></WseSummaryList>
    </div>
</div>

@if (TagDialogOpen)
{
    <Frontend.Pages.Components.TagModal OnClose="@OnTagDialogClose"></Frontend.Pages.Components.TagModal>
}

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Sort { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Type { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Query { get; set; }

    private string? SearchString { get; set; }

    private IList<WseSummaryDto> _summaryDtos = null!;

    private void SearchInput(KeyboardEventArgs evt) {
        if (evt.Key == "Enter") {
            Search();
        }
    }

    private void Search() {
        NavigationManager.NavigateTo(Navigate("query", SearchString));
    }

    protected override void OnInitialized() {
        @* Mock data gen *@
        _summaryDtos = new List<WseSummaryDto>();
        WseSummaryDto wseSummaryDto1 = new WseSummaryDto {
            Id = 1,
            Name = "hans peter und der der sich selbst sehr mag", 
            ShortDescription = "der hans", 
            Tags = new List<Tag> {
                new() {
                    Name = "Tag1",
                    CreationTime = DateTimeOffset.Now,
                    UseCount = 1
                }, new() {
                    Name = "Tag2",
                    CreationTime = DateTimeOffset.Now,
                    UseCount = 100
                }
            }, 
            CreationDate = DateTimeOffset.Now, 
            IsOnline = true, 
            AverageRating = 3.5, 
            ViewCount = 1, 
            Link = new Uri("http://www.google.com"),
            IsBookmark = true
        };
        _summaryDtos.Add(wseSummaryDto1);

        WseSummaryDto wseSummaryDto2 = new WseSummaryDto {
            Id = 1,
            Name = "peter", 
            ShortDescription = "hans peter", 
            Tags = new List<Tag>(), 
            CreationDate = DateTimeOffset.Now, 
            IsOnline = false, 
            AverageRating = 5, 
            ViewCount = 15, 
            Link = new Uri("http://www.google.com"),
        };
        _summaryDtos.Add(wseSummaryDto2);
    }


    private string Navigate(string key, string? value) {
        return NavigationManager.GetUriWithQueryParameter(key, value);
    }

    @*for tag modal*@
    public bool TagDialogOpen { get; set; }

    private void OnTagDialogClose(bool accepted)
    {
        TagDialogOpen = false;
        StateHasChanged();
    }

    private void OpenTagDialog()
    {
        TagDialogOpen = true;
        StateHasChanged();
    }
}