@page "/"
@using Models
@using Models.DTO
@inject NavigationManager NavigationManager

<PageTitle>Atria</PageTitle>

<div class="container-xxl">
    <div class="searchbar position-relative mb-3 mt-4">
        <input type="text" class="form-control form-control-lg" placeholder="Suche nach..." @bind-value="SearchString"
               @onkeyup="SearchInput">
        <i class="fa fa-search position-absolute top-50 end-0 px-2 translate-middle"></i>
    </div>
    <div class="d-flex flex-wrap">
        <div class="nav nav-pills mb-2">
            <div class="nav-item">
                <NavLink href="@Navigate("type", null)" class="nav-link" Match="NavLinkMatch.All">WSE</NavLink>
            </div>
            <div class="nav-item ms-3">
                <NavLink href="@Navigate("type", "user")" class="nav-link">User</NavLink>
            </div>
        </div>
        <div class="d-flex mb-2 ms-auto">
            <div class="dropdown ms-3">
                <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    Filter
                </button>
                <div class="dropdown-menu dropdown-menu-end ps-2">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckOnline">
                        <label class="form-check-label" for="flexCheckOnline">
                            <i class="fa-solid fa-circle text-success"></i>
                            Online
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckBookmarks">
                        <label class="form-check-label" for="flexCheckBookmarks">
                            <i class="fa-solid fa-bookmark" style="color:crimson"></i> @*TODO bookmark under online is not in line dur to online icon being more broad*@
                            Lesezeichen
                        </label>
                    </div>
                    <div>
                        Bewertung
                    </div>

                    <div class="rating">
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-color"></i>
                        <i class="fa fa-star rating-uncolored"></i>
                        <i class="fa fa-star rating-uncolored"></i>
                        @*TODO change star layout and make add logic to stars*@
                        <!--
                        <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label> 
                        <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label> 
                        <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label> 
                        <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label> 
                        <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                        -->
                    </div>
                    <div>
                        Tags
                    </div>
                    <div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckBookmarks">
                            Popular Tag 1
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckBookmarks">
                            Popular Tag 2
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckBookmarks">
                            Popular Tag 3
                        </div>
                    </div>
                    <div style="text-align:right; font-size:80%;">
                        <button type="button" class="btn btn-Link btn-sm" data-bs-toggle="modal" data-bs-target="#tagModal">
                            <u>weitere Tags</u>
                        </button>
                    </div>
                </div>
                <div class="modal" id="tagModal" tabindex="-1" aria-labelledby="tagModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered ">
                        <div class="modal-content">


                            <div class="modal-header pb-1 pt-2" style="border:none">
                                <h5 class="modal-title" id="tagModalLabel">Tags</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>


                            <div class="modal-body pt-1 pb-1">
                                <div class="row pb-2">
                                    <div class="col">
                                        <div class="card rounded-1" style="background-color:lightgray">
                                            <div class="card-body pt-0 pb-0 ps-1">
                                                taglogic.
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row small pb-2 justify-content-end">
                                    <div class="col-sm-5">
                                        <input class="form-control form-control-sm rounded-pill" type="search" placeholder="Suche nach..."> @*TODO searchbar überarbeiten*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="border mb-2">
                                            <div class="overflow-auto" style="max-height: 200px">
                                                Tags with logicx
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-between pt-1 pb-2">
                                    <button type="button" class="btn btn-danger btn-sm me-2" data-bs-dismiss="modal">
                                        Alle Löschen
                                    </button>
                                    <button type="button" class="btn btn-success btn-sm" data-bs-dismiss="modal">
                                        Anwenden
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dropdown ms-3">
                <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Sortieren nach
                </button>
                <ul class="dropdown-menu dropdown-menu-end">
                    <NavLink href="@Navigate("sort", null)" class="dropdown-item" Match="NavLinkMatch.All">Relevanz</NavLink>
                    <NavLink href="@Navigate("sort", "useCount")" class="dropdown-item">Aufrufzahl</NavLink>
                    <NavLink href="@Navigate("sort", "reviewAverage")" class="dropdown-item">Bewertungsdurchschnitt</NavLink>
                    <NavLink href="@Navigate("sort", "recency")" class="dropdown-item">Neueste</NavLink>
                </ul>
            </div>
        </div>
    </div>
    <div class="list-group list-group-flush search-data-list">
        <WseSummaryList SummaryDtos="_summaryDtos"></WseSummaryList>
    </div>
</div>

@code {

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Sort { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Type { get; set; }

    [Parameter]
    [SupplyParameterFromQuery]
    public string? Query { get; set; }

    private string? SearchString { get; set; }

    private IList<WseSummaryDto> _summaryDtos = null!;

    private void SearchInput(KeyboardEventArgs evt) {
        if (evt.Key == "Enter") {
            Search();
        }
    }

    private void Search() {
        NavigationManager.NavigateTo(Navigate("query", SearchString));
    }

    protected override void OnInitialized() {
        @* Mock data gen *@
        _summaryDtos = new List<WseSummaryDto>();
        WseSummaryDto wseSummaryDto1 = new WseSummaryDto("hans", "der hans", new List<Tag>(), DateTimeOffset.Now, true, 3.5, 10, new Uri("http://www.google.com"));
        _summaryDtos.Add(wseSummaryDto1);

        WseSummaryDto wseSummaryDto2 = new WseSummaryDto("günther", "der günther", new List<Tag>(), DateTimeOffset.Now, false, 3.5, 10, new Uri("http://www.duckduckgo.com"));
        _summaryDtos.Add(wseSummaryDto2);
        _summaryDtos.Add(wseSummaryDto1);
    }


    private string Navigate(string key, string? value) {
        return NavigationManager.GetUriWithQueryParameter(key, value);
    }

}