@using Models.DTO
@foreach (WSESummaryDto wseSummaryDto in SummaryDtos) {
    <div class="card mb-3">
        <div class="card-body d-flex flex-row">
            <div class="row me-0">
                <div class="col">
                    <i class="fa-solid fa-circle @StyleOnlineStatus(wseSummaryDto)"></i>
                </div>
            </div>
            <div class="w-100">
                <div class="row justify-content-between">
                    <div class="col">
                        <h5 class="card-title">@wseSummaryDto.Name</h5>
                    </div>
                    <div class="col-auto">
                        Bookmark logic
                    </div>
                    <div class="col-auto">
                        @wseSummaryDto.AverageRating
                    </div>
                    <div class="col-auto">
                        @wseSummaryDto.ViewCount
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        @wseSummaryDto.ShortDescription
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        Taglogik
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col">
                        @wseSummaryDto.CreationDate
                    </div>
                    <div class="col-auto">
                        Linkicon
                    </div>
                </div>
            </div>
        </div>
    </div>
}


@code {

    [Parameter]
    public IList<WSESummaryDto> SummaryDtos { get; set; } = null!;

    private string StyleOnlineStatus(WSESummaryDto wseSummaryDto) {
        return wseSummaryDto.IsOnline ? "text-success" : "text-danger";
    }

}