@page "/wseDraft"
@using Models

<PageTitle>Atria - WseDraftName</PageTitle>

<div class="container-xxl mt-4">
    
    <div class="d-grid gap-2 mt-4 mb-4 d-flex justify-content-end">
        @if (!_displayForm)
                    {
        <button class="btn btn-success" type="button" @onclick="() => _displayForm = !_displayForm">
            Bearbeiten
        </button>
        @*TODO backend-logic*@
        <button class="btn btn-success" type="button">
                Veröffentlichen
            </button>
            <button class="btn btn-danger" type="button" @onclick="() => OpenDeleteWSEDraftDialog()">
                Löschen
            </button>
        }
        else
        {
            <EditForm Model="WseDraft" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <button class="btn btn-success" type="submit">
                    Speichern
                </button>
                <ValidationSummary></ValidationSummary>
            </EditForm>
        }
    </div>

    @*------------HEADER CARD------------*@
    <div class="card mb-4">
        <div class="card-body">
            <div class="row mb-2">
                <div class="col-auto mt-sm-1">
                    <i class="fa-solid fa-circle text-success"/>
                </div>
                <div class="col ps-0">
                    <h3 class="card-title fw-bold">
                        @if (!_displayForm)
                        {
                            @WseDraft.Name
                        }
                        else
                        {
                            
                            <EditForm Model="WseDraft" OnValidSubmit="HandleValidSubmit">
                                <DataAnnotationsValidator></DataAnnotationsValidator>
                                <InputText @bind-Value="WseDraft.Name" id="name" type="text" class="form-control" placeholder="Name"></InputText>
                                <ValidationSummary></ValidationSummary>
                            </EditForm>
                        }
                    </h3>
                </div>
                <div class="col-auto d-flex align-content-end">
                    <a class="fa-solid fa-arrow-up-right-from-square text-decoration-none fs-2" title="Zur Webservice" href="@WseDraft.Link"/>
                </div>
            </div>
            <h5 class="card-subtitle mb-2 text-muted">Ansprechpartner</h5>
            <div class="card-text">
                @if (!_displayForm)
                {
                    @WseDraft.ShortDescription
                }
                else
                {

                    <EditForm Model="WseDraft" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <InputText @bind-Value="WseDraft.ShortDescription" id="shortDescription" type="text" class="form-control" placeholder="Kurzbeschreibung"></InputText>
                        <ValidationSummary></ValidationSummary>
                    </EditForm>
                }
            </div>
        </div>
    </div>

    
    @if (_displayForm)
    {
        <div class="col-auto mt-sm-1">
            <div class="card mb-4">
                <h6 class="card-header fw-bold">Link</h6>
                <div class="card-body">
                    <EditForm Model="WseDraft" OnValidSubmit="HandleValidSubmit">
                        <DataAnnotationsValidator></DataAnnotationsValidator>
                        <InputText @bind-Value="WseDraft.Link" id="link" type="text" class="form-control" placeholder="Link"></InputText>
                        <ValidationSummary></ValidationSummary>
                    </EditForm>
                </div>
            </div>
        </div>
     }

    <div class="row mb-4">
        @*------------REVIEW AND TAGS------------*@
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body">
                    <h6 class="card-title fw-bold">Tags</h6>
                    @*mock tags*@
                    <div class="card-text">
                        @for (int i = 0; i <= 20; i++) {
                            <div class="badge bg-info me-1" value="@i">Tag @i</div>
                        }
                    </div>
                </div>
            </div>
        </div>

        @*------------LOG, DOC, DESC.------------*@
        <div class="col-md-9">

            <div class="card mb-4">
                <h6 class="card-header fw-bold">Änderungshistorie</h6>
                <div class="card-body">
                    @if (!_displayForm)
                    {
                      @WseDraft.ChangeLog
                    }
                    else
                    {

                        <EditForm Model="WseDraft" OnValidSubmit="HandleValidSubmit">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <InputText @bind-Value="WseDraft.ChangeLog" id="changeLog" type="text" class="form-control" placeholder="Änderungshistorie"></InputText>
                            <ValidationSummary></ValidationSummary>
                        </EditForm>
                    }
                </div>
            </div>

            <div class="card mb-4">
                <h6 class="card-header fw-bold">
                    Dokumentation
                    <a class="fa-solid fa-arrow-up-right-from-square text-decoration-none fs-5 ms-1" title="Zur Dokumetation" />
                </h6>
                <div class="card-body">
                    @if (!_displayForm)
                    {
                        @WseDraft.Documentation
                    }
                    else
                    {

                        <EditForm Model="WseDraft" OnValidSubmit="HandleValidSubmit">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <InputText @bind-Value="WseDraft.Documentation" id="documentation" type="text" class="form-control" placeholder="Dokumentation"></InputText>
                            <ValidationSummary></ValidationSummary>
                        </EditForm>
                    }
                </div>
            </div>

             @if (_displayForm)
            {
                <div class="col-auto mt-sm-1">
                    <div class="card mb-4">
                        <h6 class="card-header fw-bold">Dokumentations-Link</h6>
                        <div class="card-body">
                            <EditForm Model="WseDraft" OnValidSubmit="HandleValidSubmit">
                                <DataAnnotationsValidator></DataAnnotationsValidator>
                                <InputText @bind-Value="WseDraft.DocumentationLink" id="documentationLink" type="text" class="form-control" placeholder="Dokumentations-Link"></InputText>
                                <ValidationSummary></ValidationSummary>
                            </EditForm>
                        </div>
                    </div>
                </div>
            }

            <div class="card">
                <h6 class="card-header fw-bold">Volltextbeschreibung</h6>
                <div class="card-body">
                    @if (!_displayForm)
                    {
                        @WseDraft.FullDescription
                    }
                    else
                    {

                        <EditForm Model="WseDraft" OnValidSubmit="HandleValidSubmit">
                            <DataAnnotationsValidator></DataAnnotationsValidator>
                            <InputText @bind-Value="WseDraft.FullDescription" id="fullDescription" type="text" class="form-control" placeholder="Volltextbeschreibung"></InputText>
                            <ValidationSummary></ValidationSummary>
                        </EditForm>
                    }
                </div>
            </div>
        </div>
    </div>


    <div class="d-grid gap-2 mt-4 mb-4 d-flex justify-content-end">
        @if (!_displayForm) {
        <button class="btn btn-success" type="button" @onclick="() => _displayForm = !_displayForm">
            Bearbeiten
        </button>
        @*TODO logic*@
        <button class="btn btn-success" type="button">
            Veröffentlichen
        </button>
        <button class="btn btn-danger" type="button" @onclick="() => OpenDeleteWSEDraftDialog()">
            Löschen
        </button>
         }
        else
        {
            <EditForm Model="WseDraft" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator></DataAnnotationsValidator>
                <button class="btn btn-success" type="submit">
                    Speichern
                </button>
                <ValidationSummary></ValidationSummary>
            </EditForm>
        }
    </div>

</div>

@if (DeleteWSEDraftDialogOpen) 
{
    <Frontend.Pages.Components.DeleteModal Title="Eintrag löschen" Text="Sind Sie sicher, dass Sie Ihren Eintrag löschen möchten?" OnClose="@OnDeleteWSEDraftDialogClose"/>
}

@code {

    public bool DeleteWSEDraftDialogOpen { get; set; }
    private bool _displayForm = false;

    [Parameter]
    public WSEDraft WseDraft { get; set; } = null!;

    private WSEDraft _cloneWseDraft = null!;

    private void OpenDeleteWSEDraftDialog()
    {
        DeleteWSEDraftDialogOpen = true;
        StateHasChanged();
    }

    private void OnDeleteWSEDraftDialogClose(bool accepted)
    {
        DeleteWSEDraftDialogOpen = false;
        StateHasChanged();
    }

     protected override void OnInitialized() {
            @* Mock Data generation *@
        WseDraft = new WSEDraft {
            Name = "Google",
            ShortDescription = "Lorem ipsum dolor sit amet",
            Link = "https://www.google.de/",
            FullDescription = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna ",
            ChangeLog = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam non",
            DocumentationLink = "https://de.wikipedia.org/wiki/Google",
            Documentation = "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna ",
        };

        CloneWseDraft();
    }

     private void HandleValidSubmit() {
        _displayForm = !_displayForm;
        CloneWseDraft();
            @* TODO implement backend communication *@
    }

    private void CloneWseDraft() {
        _cloneWseDraft = new WSEDraft {
            Name = WseDraft.Name,
            ShortDescription = WseDraft.ShortDescription,
            Link = WseDraft.Link,
            FullDescription = WseDraft.FullDescription,
            ChangeLog = WseDraft.ChangeLog,
            DocumentationLink = WseDraft.DocumentationLink,
            Documentation = WseDraft.Documentation
        };
    }

}