@using Models
<div class="ui-field">
    <div class="form-control form-control-sm border p-0">
        <div class="input-group input-group-sm">
            <button class="btn btn-sm btn-link text-dark">
                <i class="fa fa-search"></i>
            </button>
            <input type="search" class="form-control form-control-sm border-0" placeholder="Suche nach..." @bind="_tagQuery" @onkeyup="SearchTags">
        </div>
    </div>
</div>
<div class="row mt-3 mb-1">
    @foreach (var tag in _selectedTags) {
        <div class="col-auto">
            <h6>
                <span class="badge bg-info">
                    @tag.Name
                    <button type="button" class="btn-close btn-close-white" aria-label="Close" @onclick="() => RemoveTagFromSelection(tag)"></button>
                </span>
            </h6>
        </div>
    }
</div>

<div class="ui-field p-3">
    @if (_allTags is null) {
        <p><strong>Lade Tags...</strong></p>
        <div class="spinner-border ms-3" role="status" aria-hidden="true"></div>
    } else {
        @foreach (var tag in _searchedTags) {
            var value = _selectedTags.Contains(tag);
            <div class="form-check">
                @if (value) {
                    <input class="form-check-input" type="checkbox" @onclick="() => RemoveTagFromSelection(tag)" checked id="@tag.Name"/>
                } else {
                    <input class="form-check-input" type="checkbox" @onclick="() => AddTagToSelection(tag)" id="@tag.Name"/>
                }
                <label class="form-check-label" for="@tag.Name">@tag.Name</label>
            </div>
        }
    }
</div>

<div class="d-grid gap-2 mt-3 d-flex justify-content-end">
    <button type="button" class="btn btn-outline-danger btn-small" @onclick="ClearSelection">Alle Tags Löschen</button>
</div>

@code {
    
    [Inject]
    public HttpClient HttpClient { get; set; } = default!;

    // Two-way-binding of the tag query string
    [Parameter]
    public string[]? SelectedTagsStr { get; set; }
    
    // Two-way-binding of the tag query string
    [Parameter]
    public EventCallback<string[]> SelectedTagsStrChanged { get; set; }
    
    private IEnumerable<Tag>? _allTags;

    private List<Tag> _searchedTags = new();

    private List<Tag> _selectedTags = new();

    private string? _tagQuery;

    private async Task RemoveTagFromSelection(Tag tag) {
        _selectedTags.Remove(tag);
        await SelectedTagsStrChanged.InvokeAsync(GenerateTagString());
    }

    private async Task AddTagToSelection(Tag tag) {
        _selectedTags.Add(tag);
        await SelectedTagsStrChanged.InvokeAsync(GenerateTagString());
    }

    private async Task ClearSelection() {
        _selectedTags = new List<Tag>();
        await SelectedTagsStrChanged.InvokeAsync(GenerateTagString());
    }

    private void SearchTags(KeyboardEventArgs evt) {
        if (evt.Key == "Enter" && _tagQuery is not null) {
            _searchedTags = _allTags!.Where(tag => tag.Name.Contains(_tagQuery))
                .OrderByDescending(tag => tag.UseCount)
                .ToList();
        }
    }
    
    // Generate string array for query
    private string[] GenerateTagString() {
        return _selectedTags.Select(tag => tag.Name).ToArray();
    }
    
    protected override async Task OnInitializedAsync() {
        _allTags = await HttpClient.GetFromJsonAsync<IList<Tag>>("tag") ?? new List<Tag>();
        _searchedTags = _allTags.OrderByDescending(tag => tag.UseCount).ToList();
        _selectedTags = SelectedTagsStr is null ? new List<Tag>() : _allTags
            .Where(tag => SelectedTagsStr.Contains(tag.Name))
            .ToList();
    }

}
