@using Models.DTO
@using Models
@inject NavigationManager NavigationManager

@foreach (WebserviceEntry entry in Entries) {
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-auto">
                    <i class="fa-solid fa-circle @StyleOnlineStatus(entry)"></i>
                </div>

                <div class="col-auto ps-0 d-flex d-block">
                    <h5>
                        <NavLink href="@GetWseLink(entry)">
                            @entry.Name
                        </NavLink>
                    </h5>
                </div>

                <div class="col-auto ps-0 ms-auto d-flex d-block">
                    <div class="d-flex justify-content-sm-end justify-content-start flex-wrap">
                        <div class="ms-3">
                            <CAuth>
                                <Authenticated>
                                    @{
                                        _bookmarkState = CurrentUser!.Bookmarks.Contains(entry) ? "bi-bookmark-fill" : "bi-bookmark";
                                        _bookmarkTitle = CurrentUser.Bookmarks.Contains(entry) ? "Lesezeichen entfernen" : "Als Lesezeichen hinzufügen";
                                    }
                                    <button class="btn-outline-light btn p-0" title="@_bookmarkTitle" @onclick="() => ChangeBookmarkStatus(entry)">
                                        <i class="bi @_bookmarkState fs-5" style="color: #dc3545"></i>
                                    </button>
                                </Authenticated>
                                <NotAuthenticated>
                                    @{
                                        _bookmarkState = "bi-bookmark";
                                        _bookmarkTitle = "Als Lesezeichen hinzufügen";
                                        
                                    }
                                    <button class="btn-outline-light btn p-0" title="@_bookmarkTitle" @onclick="NavigateToLogin">
                                        <i class="bi @_bookmarkState fs-5" style="color: #dc3545"></i>
                                    </button>
                                </NotAuthenticated>
                            </CAuth>
                        </div>
                        <div class="ms-3" style="min-width: fit-content">
                            @{
                                int i = 0;
                                for (; i < (int)entry.ReviewAverage; i++) {
                                    <i class="fa fa-star rating-color"></i>
                                }
                                if (entry.ReviewAverage - i >= 0.5) {
                                    <i class="fa-regular fa-star-half-stroke rating-color"></i>
                                    i++;
                                }
                                for (; i < 5; i++) {
                                    <i class="fa fa-star rating-uncolored"></i>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col">
                    @entry.ShortDescription
                </div>
                @if (entry.ViewCount == 1) {
                    <div class="col-auto ms-auto">
                        @entry.ViewCount Aufruf
                    </div>
                }
                else {
                    <div class="col-auto ms-auto">
                        @entry.ViewCount Aufrufe
                    </div>
                }

            </div>

            <div class="row mb-2">
                @foreach (Tag tag in entry.Tags) {
                    <div class="col-auto pe-0">
                        <span class="badge bg-info me-2">@tag.Name</span>
                    </div>
                }
            </div>

            <div class="row justify-content-between">
                <div class="col">
                    @entry.CreatedAt
                </div>
                <div class="col-auto">
                    <NavLink href="@entry.Link">
                        <i class="fa-solid fa-arrow-up-right-from-square text-decoration-none fs-4" title="Zur Webservice"></i>
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
}


@code {

    private string? _bookmarkState;
    private string? _bookmarkTitle;

    [CascadingParameter]
    private User? CurrentUser { get; set; }

    [Parameter]
    public IEnumerable<WebserviceEntry> Entries { get; set; } = null!;

    private string StyleOnlineStatus(WebserviceEntry entry) {
    //return entry.IsOnline ? "text-success" : "text-danger";
        throw new NotImplementedException();
    }

    private string GetWseLink(WebserviceEntry entry) {
        return "/wse/" + entry.Id;
    }

    private void ChangeBookmarkStatus(WebserviceEntry entry) {
        CurrentUser!.Bookmarks.Add(entry);
        @* TODO http call *@
    }
    
    private void NavigateToLogin() {
        NavigationManager.NavigateTo("login");
    }
}
